/* Replace default with my own logo */
:root {
  --logo: url("https://cdn.jsdelivr.net/gh/18jsmeal/smealflixjellyfin@main/SmealFlix512x256.png");
}

.pageTitleWithDefaultLogo {
  background-size: 100% !important;
}

.layout-mobile .pageTitleWithDefaultLogo {
  width: 130px !important;
}

#loginPage .visualLoginForm:not(.hide) h1::before {
  background-size: 50% !important;
}

#loginPage .manualLoginForm:not(.hide) h1.sectionTitle::before {
  background-size: 100% !important;
}

